root {
    display: block;
}

.centered {
    text-align: center;
}

.sansSerif{
    font-family: sans-serif;
}

body {
  background-color: darkgrey;
  font-family: helvetica;
  border: 5px solid lightgrey;
  color: white;
  height: 100%;
  width: 100%;
}
